footer#footer
	div © Copyright #{site.system.year} #{site.author.firstname} #{site.author.lastname}
script( type="application/ld+json" ).
	{
		"@context": "http://schema.org",
		"@type": "Article",
		"mainEntityOfPage": {
			"@type": "WebPage",
			"@id": "#{page.url}"
		},
		"headline": "#{page.title}",
		"image": {
			"@type": "ImageObject",
			"url": "#{site.system.url}#{page.featuredimg}",
			"height": "696px",
			"width": "696px"
		},
		"datePublished": "#{page.published}",
		"dateModified": "#{page.updated}",
		"author": {
			"@type": "Person",
			"name": "#{site.author.firstname} #{site.author.lastname}",
			"url": "#{site.author.url}"
		},
		"publisher": {
			"@type": "Organization",
			"name": "#{site.identity.title}",
			"url": "#{site.system.url}",
			"logo": {
				"@type": "ImageObject",
				"url": "#{site.identity.logo}",
				"width": "60px",
				"height": "600px"
			}
		},
		"description": "#{page.desc}"
	}
script( src="https://www.googletagmanager.com/gtag/js?id=UA-150987064-1", async )
script.
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-150987064-1');